

 <!--<div style="background-color: aqua; width: 100%; margin-top: auto;">
  <div class="footer">
  <div class="row">
  <a href="#"> <mat-icon>facebook</mat-icon>  </a>
  <a href="#"><mat-icon>youtube</mat-icon>
  </a>
  <a href="#"></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  </div>

  <div class="row">
  <ul>
  <li><a href="#">Contact us</a></li>
  <li><a href="#">Our Services</a></li>
  <li><a href="#">Privacy Policy</a></li>
  <li><a href="#">Terms & Conditions</a></li>
  <li><a href="#">Career</a></li>
  </ul>
  </div>

  <div class="row">
    INFERNO Copyright © 2021 Inferno - All rights reserved || Designed By: Mahesh
    </div>
</div>

</div>
-->
<div style="background-color: white; margin: 0 auto;">
<div class="content">
<div class="left box">


  <div class="topic">Contactez-nous</div>
    <div class="phone">
      <br>
     <p>Phone: <b style="color: #4B9CD3; margin-bottom: 0px;">0610215050</b></p>

     <p><b style="color: #4B9CD3; padding-left: 48px;">0614806011</b></p>
    </div>
    <div class="email">
     <p >Email: <b style="color: #4B9CD3;">Education.Center@gmail.com</b></p>

    </div>

</div>
<div class="middle box">
<div class="topic">Liens rapides</div>
<div><a href="#" routerLink="/" ><img style="width: 10px;" src="../../assets/default-image/keyboard_arrow_right.png">  Home</a></div>
<div><a href="#" routerLink="/courses"><img style="width: 10px;" src="../../assets/default-image/keyboard_arrow_right.png">  Cours</a></div>
<div><a href="#" routerLink="/Sign_in"><img style="width: 10px;" src="../../assets/default-image/keyboard_arrow_right.png">  S'inscrire</a></div>

</div>
<div class="right box">

  <div class="upper">
    <div class="topic">À propos de nous</div>
    <p>Nous sommes une plateforme d'apprentissage en ligne engagée à révolutionner l'éducation.
      nous nous efforçons d'autonomiser les apprenants à l'échelle mondiale.
      Rejoignez-nous pour embarquer dans un voyage éducatif transformateur et débloquer des possibilités infinies.</p>
    </div>

</div>
</div>
<div class="bottom">
<p>Copyright © 2022 <a routerLink="/" style="font-weight: bold;">Education center</a>
| All rights reserved</p>
<p>Designed by <b style="color: red;">Aoutir Mouad</b> and <b style="color: red;">Adnane Ahmed</b></p>
</div>
