<Header_Background></Header_Background>
<div style="width: 100%;position: absolute;top: 10%;"><h1 style="font-size: 50px;font-weight: 800;color: white; font-family: sans-serif; margin: 0 auto;width: 460px;">Mes cours créés</h1></div>


<br>
<br>

<table style="width: 70%; background-color: white;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; margin: 0 auto;">

  <tr>



    <th style="text-align: center;">
      <mat-form-field class="formField">
        <mat-label>Sélectionnez un filière</mat-label>

        <mat-select (selectionChange)="get_filiere_Selected($event)">

          <mat-option *ngFor="let item of lists_filieres" [value]="item.name_module">
            {{item.name_module}}</mat-option>
            <mat-option>Aucun</mat-option>
        </mat-select>

      </mat-form-field>
    </th>
    <th></th>
    <th></th>
    <th></th>
    <th><button class="search" (click)="chercher()"><mat-icon style="margin-top:6px;">search</mat-icon>chercher</button></th>
  </tr>


  <tr>
    <th colspan="5"><hr></th>
  </tr>


  <tr>
    <th class="title">Nom du cours</th>
    <th class="title">Domaine</th>
    <th class="title">Filière</th>
    <th></th>
    <th></th>
  </tr>


  <tr>
    <th colspan="5"><hr></th>

  </tr>

            <!-- lignes pour afficher les cours  -->
  <tr *ngFor="let item of liste_cours_filtrer" >
    <td >{{item?._titleCours}}</td>
    <td >{{item?._domain}}</td>
    <td >{{item?._module}}</td>
    <td >
      <button class="button_edit"><p style="display: inline-block; margin-right: 8px; color: #42a2e3;" [routerLink]="['/display',item?._id]">afficher </p><img style="width: 16px;" src="../../assets/default-image/detail.jpeg"></button>
    </td>
    <td *ngIf="liste_cours_filtrer.length > 0">
      <button class="button_edit"><p style="margin-right: 8px; margin-top: 1px; color: red;" (click)="supprimer_cours(item?._id)">supprimer</p> <img style="width: 16px;" src="../../assets/default-image/supprimer (2).jpeg"></button>
    </td>

  </tr>


      <!-- lignes pour afficher un message qu'il n'y a pas de cours  -->
  <tr *ngIf="liste_cours_filtrer.length == 0">
    <td></td>
     <td style=" width: 100%;"><p style="font-size: 20px;color: gray; width: 300px;margin: 0 auto;">Rien n'est encore ajouté</p></td>
  </tr>



  <tr>
    <th colspan="5"><hr></th>

  </tr>


  <tr>
    <th style="line-height: 35px;text-align: left; padding-left: 10px;">Totale</th>
    <th></th>
    <th></th>
    <th></th>
    <th style="line-height: 35px; "><p style=" margin: 0 auto; background-color: #42a2e3;width: 25px;line-height: 25px; border-radius: 13px;color: white;">{{liste_cours_filtrer.length}}</p></th>
  </tr>
</table>
<br><br><br>
