
<div style="width: 100%; height: 100%; background-image: url(../../assets/default-image/bg-image.jpg);background-repeat: no-repeat;background-size: cover;background-position: center;   background-attachment: fixed;">
  <div class="image">


  </div>
  <div class="content">
      <h1 class="title">Université d'éducation en ligne</h1>
      <h3 class="subtitle">Avec <b style="color: #3a9fe3; font-size: 20px;">Education Center</b>, vous pouvez maîtriser votre parcours d'apprentissage préféré</h3>
      <button routerLink="/courses"><span>Cours</span></button>

  </div>


<div style="position: relative; ">
  <div  style="position: relative ;top:0%;  margin: 0 auto;width: 100%; background-color: rgb(247, 244, 244,0.5);">
    <div class="features">
        <div class="feature">
          <h3>Une plateforme complète pour tous les cours !</h3>
          <!--<p>Notre objectif est de fournir une plateforme en ligne accessible et efficace pour l'apprentissage et la certification dans divers domaines professionnels</p>-->
          <p>Découvrez une plateforme complète pour votre développement professionnel. Choisissez parmi notre large éventail de cours de haute qualité</p>
        </div>
        <div class="feature">
          <h3>Une navigation fluide sur notre plateforme !</h3>
          <p>Notre plateforme conviviale et intuitive offre une expérience de navigation fluide pour un apprentissage efficace</p>
        </div>
        <div class="feature">
          <h3>Offres spéciales sur nos cours !</h3>
          <p>Profitez de nos promotions exclusives sur une sélection de cours de qualité supérieure. Enrichissez vos connaissances à des tarifs avantageux</p>
        </div>
      </div>
    </div>
<!---->
<div class="" style="position: relative; top: 0%;background-color: white; display: flex; margin: 0 auto; height: 620px; box-shadow: 0px 0px 0px #888, 0px -0.5px 0px #888;">
  <div style="width: 81%; margin: 0 auto;">
    <div class="row">
        <div class="first_div_content">
            <div class="section-title position-relative mb-4">
                <h6 class="small_title1" style="padding-top: 30px;"><p>Pourquoi nous choisir ?</p></h6>
                <h1 class="big_title">Pourquoi devriez-vous commencer à apprendre avec nous?</h1>
            </div>
            <p class="text_description">Choisissez Education center pour des certificats reconnus, des formateurs experts et une flexibilité optimale pour adapter votre apprentissage à votre emploi du temps chargé.</p>
            <div class="advantage_our_site">
                <div class="icon_about_us" style="background-color: #0092f4;">
                  <mat-icon style="transform: scale(2.5); color: #ddd7d7; padding-top: 5px;">person</mat-icon>                </div>
                <div class="box_about_us">
                    <h4 class="small_title">Instructeurs qualifiés</h4>
                    <p class="description_about_us">Nos cours sont créés par des experts formateur,
                       vous offrant une formation complète et à jour dans votre domaine d'intérêt</p>
                </div>
            </div>
            <div class="advantage_our_site">
                <div class="icon_about_us" style="background-color: #cc3300;padding-top: 5px;">
                    <img style="width: 70px;" src="../../assets/default-image/Certificate.png">
                </div>
                <div class="box_about_us">
                    <h4 class="small_title">Certification reconnue</h4>
                    <p class="description_about_us">Nos certifications sont respectées et valorisées par les employeurs,
                      vous donnant une longueur d'avance dans votre carrière.</p>
                </div>
            </div>
            <div class="advantage_our_site">
                <div class="icon_about_us" style="background-color: rgb(244, 244, 44);">
                  <img style="width: 70px;" src="../../assets/default-image/optimal.png">
                </div>
                <div class="box_about_us">
                    <h4 class="small_title">Flexibilité optimale</h4>
                    <p class="description_about_us">Étudiez à votre propre rythme, où que vous soyez,
                       grâce à notre plateforme en ligne conviviale qui s'adapte à votre emploi du temps chargé.</p>
                </div>
            </div>
        </div>
        <div class="about_us_image" style="min-height: 500px;">
            <div class="position-relative">
                <img class="image_about_us" src="../../assets/default-image/online-certification-concept.jpeg" style="object-fit: cover;">
            </div>
        </div>
    </div>
</div>
</div>
<!---->
<!-- section-->
<div class="section" style="background-color: rgb(247, 244, 244,0.5);">
  <div class="container">
    <div class="text">
      <div style="display: flex;">
      <span class="style_img"><img class="img_icon" src="../../assets/default-image/student_reading.png"></span>
        <div class="stat_count">
        <p class="number">15</p>
        <h3 class="name">Apprenants</h3>
        </div>
      </div>
      <div style="display: flex; ">
        <span class="style_img"><img class="img_icon" src="../../assets/default-image/elearning.png"></span>
          <div class="stat_count">
          <p class="number">5</p>
          <h3 class="name">Cours</h3>
          </div>
        </div><div style="display: flex;">
      <span class="style_img"><img class="img_icon" src="../../assets/default-image/teacher-icon.png"></span>
        <div class="stat_count">
        <p class="number">7</p>
        <h3 class="name">Formateur</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- section-->
<!---->


</div>

</div>
