<Header_Background></Header_Background>
<div style="width: 100%;position: absolute;top: 10%;"><h1 style="font-size: 50px;font-weight: 800;color: white; font-family: sans-serif; margin: 0 auto;width: 540px;">Ajoutez votre cours</h1></div>

<div style="width: 100%;">
  <div style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; width: 550px; margin: 0 auto;">
    <form [formGroup]="form" (submit)="clickfunction()" #postform="ngForm">
    <div class="form_course">
      <mat-form-field class="example-full-width" style="width: 400px">
        <mat-label style="width: 400px">Titre du cours </mat-label>
        <input matInput formControlName="titre" />
      </mat-form-field>
      <br />
      <mat-form-field class="example-full-width" style="width: 400px">
        <mat-label style="width: 400px">prix</mat-label>
        <input type="number" matInput formControlName="prix" />
      </mat-form-field>
      <br />

      <mat-form-field class="example-full-width" style="width: 400px">
        <mat-label>Description du cours</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
      <br />
      <mat-form-field
        appearance="fill"
        style="width: 400px; margin-bottom: 10px">
        <mat-label>Choisissez une formation</mat-label>
        <mat-select formControlName="filiere">
          <mat-option *ngFor="let item of list_filieres" [value]="item?.name_module">
            {{ item?.name_module }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div style="margin-bottom: 85px">
        <div class="image" style="margin-bottom: 45px; height: 0px">
          <button
            mat-stroked-button
            type="button"
            (click)="filepicker1.click()"
            style="width: 400px; background-color: rgb(144, 144, 144)">
            donner le cours (pdf ou video)
          </button>
          <input type="file" (change)="onCourseChange($event)" #filepicker1 />
        </div>
      </div>

      <div style="margin-bottom: 85px" >
        <div class="image" style="margin-bottom: 45px; height: 0px">
          <button
            mat-stroked-button
            type="button"
            (click)="filepicker2.click()"
            style="width: 400px; background-color: rgb(144, 144, 144)">
            donner TP
          </button>
          <input type="file" (change)="onTpChange($event)" #filepicker2 />
        </div>
      </div>
      <div class="image" style="margin-bottom: 100px;  margin-top: 0px; height: 0px; " >
        <button mat-stroked-button type="button" (click)="filepicker3.click()" style="width: 400px; margin-bottom: 20px; background-color: rgb(144, 144, 144)" >Entrez une image</button>
        <input type="file" (change)="onImageChange($event)" #filepicker3>
     </div>

      <div class="form" >
        <p class="generatr_quiz">Créer un questionnaire</p>
        <p style="text-align: left; margin-left: 15px; font-size: 18px;height: 25px;">Question: {{cmp + 1}}</p>
        <mat-form-field
          class="example-full-width"
          style="width: 530px; margin-left: 10px">
          <mat-label>Question {{cmp + 1}}</mat-label>
          <textarea matInput formControlName="question"></textarea>
        </mat-form-field>
        <div formArrayName="reponse"></div>
        <ul style="list-style-type: none;" >
          <li>
            <mat-form-field
              class="example-full-width" style="width: 400px; text-align: left" >
              <mat-label style="width: 400px" >option 1</mat-label>
              <input matInput formControlName="option1"/>
            </mat-form-field>
          </li>
          <li>
            <mat-form-field
              class="example-full-width" style="width: 400px; text-align: left" >
              <mat-label style="width: 400px" >option 2</mat-label>
              <input matInput formControlName="option2"/>
            </mat-form-field>
          </li>
          <li>
            <mat-form-field
              class="example-full-width" style="width: 400px; text-align: left" >
              <mat-label style="width: 400px" >option 3</mat-label>
              <input matInput formControlName="option3"/>
            </mat-form-field>
          </li>
          <li>
            <mat-form-field
              class="example-full-width" style="width: 400px; text-align: left" >
              <mat-label style="width: 400px" >option 4</mat-label>
              <input matInput formControlName="option4"/>
            </mat-form-field>
          </li>
        </ul>
        <mat-form-field
          class="example-full-width"
          style="width: 530px; margin-left: 10px">
          <mat-label>Reponse {{cmp + 1}}</mat-label>
          <input matInput formControlName="reponse">
        </mat-form-field>
        <br />
        <div class="button">
          <button mat-raised-button color="primary" type="submit" style="width: 100px">
            suivant
          </button>
        </div>
      </div>
    </div>
    </form>
  </div>
</div>
