<div class="img_header">
  <h1 *ngIf="path === 'list_courses'"
    style="text-align: center;padding-top: 10%;font-size: 50px;font-weight: 800;color: white; font-family: sans-serif;">
    Cours</h1>
    <h1 *ngIf="path ==='search'"
    style="text-align: center;padding-top: 10%;font-size: 50px;font-weight: 800;color: white; font-family: sans-serif;">
    {{courses.length}} résultats pour "{{nom_du_cour_cherche}}"</h1>
</div>
<br><br>
<div style="text-align: center; width: 95%; margin: 0 auto; background-color: rgb(251, 255, 255);">
  <div class="erreur" *ngIf=" path === 'search'">
    <div *ngIf="courses?.length<= 0">
      <span class="material-icons icon">sentiment_very_dissatisfied</span><!-- sentiment_very_dissatisfied -->
    </div>

  </div>
  <div class="dim" *ngFor="let cours of courses | paginate: { itemsPerPage: 6, currentPage: p }">


    <div class="courscontainer">
      <div class="course-img">
        <img style="width: 100%; height: 100%;" src="{{cours._image}}">
      </div>

      <div class="course-info">
        <div class="course-header">
          <h3 class="course-title">{{cours._titleCours | uppercase }}
            <span [ngClass]="{
            'rating-star': 10
          }">&#9733;</span>
          </h3>
          <div class="course-date">Prix: {{cours._price}} DHS</div>
        </div>
        <div class="course-description">
          <p>{{cours._description}}</p>
        </div>
        <div *ngIf="role === 'student' && !this.tab_id_mon_apprentissage.includes(cours?._id)" style="cursor: pointer;"
          class="course-buy" (click)="openDialog()" (click)="set_id_course(cours._id)">
          <button style="background-color: transparent; border: 0px; color: white;cursor: pointer;">Acheter 50%</button>
        </div>
      </div>
    </div>

  </div>
  <div style="padding-top: 20px;padding-bottom: 20px;">
    <pagination-controls style="width: 300px; color: aquamarine;" (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
<br>
<br>
