<div class="div1">
  <table class="table" style="background-color: white;margin-top: 0px;">

      <tr>
          <td class="a2" colspan="2" style="height: 415px;">
<form [formGroup]="form"  #postform = "ngForm" (submit)="clickbutton()">
                  <table class="contenu" id="login">
                    <tr>
                      <td>
                          <p style="text-align: left;">Prénom :</p>
                      </td>
                    </tr>
                    <tr>

                      <td>

                        <mat-form-field style="width: 340px;">
                          <mat-label >prénom</mat-label>
                          <input matInput formControlName="Firstname" >
                        </mat-form-field>
                       </td>
                    </tr>

                    <tr>
                      <td>
                          <p style="text-align: left;">Nom :</p>
                      </td>
                    </tr>
                    <tr>

                      <td>

                        <mat-form-field style="width: 340px;">
                          <mat-label >nom</mat-label>
                          <input matInput formControlName="Lastname" >
                        </mat-form-field>
                       </td>
                    </tr>

                    <tr>
                      <td>
                          <p style="text-align: left;">Login :</p>
                      </td>
                    </tr>
                    <tr>

                      <td>

                        <mat-form-field style="width: 340px;">
                          <mat-label >login</mat-label>
                          <input matInput formControlName="login" >
                        </mat-form-field>
                       </td>
                    </tr>

                    <tr>
                      <td>
                          <p style="text-align: left;">Email :</p>
                      </td>
                    </tr>
                    <tr>

                      <td>

                        <mat-form-field style="width: 340px; ">
                          <mat-label>email</mat-label>
                            <input type="email" matInput formControlName="email"
                               placeholder="Ex. pat@example.com">
                        <mat-error *ngIf="form.hasError('email') && !form.hasError('required')">
                          S'il vous plaît, mettez une adresse email valide
                        </mat-error>
                        <mat-error *ngIf="form.hasError('required')">
                          Email is <strong>required</strong>
                        </mat-error>
                        </mat-form-field>
                       </td>
                    </tr>
                      <tr>
                          <td>
                              <p style="text-align: left;">Mot de passe :</p>
                          </td>
                      </tr>
                      <tr>
                          <td>  <mat-form-field style="width: 340px;">
                            <mat-label >mot de passe</mat-label>
                            <input matInput formControlName="password" type="password" >
                          </mat-form-field> </td>
                      </tr>

                      <br>
                      <tr>
                          <td colspan="2" style="text-align: center;width: 300px ;" ><button class="loginbutton" type="submit">S'inscrire</button></td>
                      </tr>

                  </table>
                </form>
          </td>
      </tr>
  </table>
</div>

