
<Header_Background></Header_Background>
<div style="width: 100%;position: absolute;top: 10%;"><h1 style="font-size: 50px;font-weight: 800;color: white; font-family: sans-serif; margin: 0 auto;width: 590px;">Liste des formateurs</h1></div>

<br><br><br>
<div class="div"  style="display: flex; justify-content: space-between;padding-bottom: 15px; width: 90%;margin: 0 auto;background-color: white;">
  <mat-form-field class="formField" style="margin-left: 10px;">
    <mat-label>Sélectionnez un domaine</mat-label>

    <mat-select (selectionChange)="getDomainSelected($event)">
      <mat-option *ngFor="let item of list_domains" [value]="item?.id">
        {{item?.name_domain}}</mat-option>
        <mat-option>None</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="formField">
    <mat-label>Sélectionnez un filière</mat-label>
    <mat-select (selectionChange)="getFiliereSelected($event)">
      <mat-option *ngFor="let item of lists_filieres" [value]="item?.name_module">
        {{item?.name_module}}</mat-option>
        <mat-option>None</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="div_search">
    <button class="button_search" (click)="chercher()"><p style="padding-top: 5px;font-size: 17px;color: white; ">Chercher</p><mat-icon style="color: white; line-height: 35px;">search</mat-icon></button>
  </div>
</div>
<table mat-table [dataSource]="listes_formateur_filter" class="mat-elevation-z8">

  <!-- Checkbox Column-->
  <ng-container matColumnDef="edit" style="width: 300px;">
    <th mat-header-cell *matHeaderCellDef>
    </th>
    <td mat-cell *matCellDef="let row">
      <div style="display: flex; ">
        <button  mat-button color="primary" (click)="openBottomSheet(row)"><mat-icon style="transform: scale(1); margin-right: 5px;">email</mat-icon>Envoyer un email</button>
        <button  mat-button color="warn" (click)="delete_formateur(row)"><mat-icon style="transform: scale(1); margin-right: 5px;">delete</mat-icon>Supprimer</button>
    </div>
    </td>
  </ng-container>

   <!--Position Column -->
  <ng-container matColumnDef="_firstName">
    <th mat-header-cell *matHeaderCellDef style="width: 150px;" > Prénom</th>
    <td mat-cell *matCellDef="let element"> {{element._firstName}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="_lastName">
    <th mat-header-cell *matHeaderCellDef style="width: 150px;"> Nom </th>
    <td mat-cell *matCellDef="let element"> {{element._lastName}} </td>
  </ng-container>

  <!-- Weight Column-->
  <ng-container matColumnDef="_email">
    <th mat-header-cell *matHeaderCellDef style="width: 250px;"> Email </th>
    <td mat-cell *matCellDef="let element"> {{element._email}} </td>
  </ng-container>

  <!-- Symbol Column-->
  <ng-container matColumnDef="_login">
    <th mat-header-cell *matHeaderCellDef style="width: 100px;"> Login </th>
    <td mat-cell *matCellDef="let element"> {{element._login}} </td>
  </ng-container>

  <ng-container matColumnDef="Domain" >
    <th mat-header-cell *matHeaderCellDef style="width: 100px;"> Domaine </th>
    <td mat-cell *matCellDef="let element" >
    <div *ngFor="let item of lists_mes_domaines">
     <p *ngIf="item.user === element._login">{{item.name_domain}}</p>
    </div></td>
  </ng-container>

  <ng-container matColumnDef="filière" >
    <th mat-header-cell *matHeaderCellDef style="width: 200px;"> filière </th>
    <td mat-cell *matCellDef="let element" >
    <ul *ngFor="let item of lists_mes_filieres">
     <li *ngIf="item.user === element._login">{{item.name_module}}</li>
    </ul>
  </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="selection.toggle(row)">
  </tr>
</table>
