.placeholder{
  display: flex;
  flex-flow: column;
  height: calc( 100vh - 60px);
}
.inner-placeholder{
  flex: 1;
  bottom: 0px;
}
footer{

 bottom: 0px;
 background-color: aqua;
 height: 0px;
 width: 100%;
}
